.container {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  height: inherit;
  width: inherit;
  //border: 3px solid #73AD21;
  background-color: black;
}

.content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: flex-end;
  height: inherit;
  width: inherit;
 //border: 3px solid #04AF21;
}

section {
  background-color: rgba(0, 0, 255, .1);
  color: pink;
  margin: 25px;
  border: 1px solid #e3022f;
  border-radius: 4px;
  /* make it glow! */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 0 0 7px 3px #fc0335,
  0 0 7px 3px #fc0335;
}

section.folding_square {
  flex-basis: 150px;
  text-align: center;
  flex-shrink: 0;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transition: all 2s;
}

section.sq2 {
  flex-grow: 1;
}

section.square_header {
  display: flex;
  flex-basis: 250px;
  flex-shrink: 0;
}

section.folding_square:hover {
  flex: 0 0 500px;
}
.number-flow {
  font-family: 'VT323', monospace;
  font-size: 50px;
  color: #02e306;
}

graphic{
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #122336;
  margin: 0;
}

graphic.row {
  flex-flow: row;
  flex: 1;
}
graphic.col {
  flex: 0.5;
  flex-flow: column;
}

canvas {
  margin: 5px;
  flex-grow: 1;
  color: #02e327;
  padding: 20px;
  background-color: #122336;
  flex-shrink: 0;
}

.graphic:nth-child(3n+0) {
  background-color: #122336;
  width: 10%;
  right: 0;

}

.graphic:nth-child(3n+1) {
  background-color: #122336;
  width: 10%;
  right: 100px;
}

.graphic:nth-child(3n+2) {
  background-color: #14152a;
  width: 10%;
  right: 200px;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.point {
  height: 20px;
  width: 20px;
  flex: 1;
  margin: 5px;
  border-radius: 25px;
  animation: sine-animation 5s cubic-bezier(0.5, 0.030, 0.515, 0.955) infinite alternate;
  animation-duration: 1s;
  animation-delay: 4s;

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: 0.5s * $i;
      background: hsl($i * 5, 60%, 50%);
    }
  }
}

@keyframes sine-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(400px);
  }
}

.wrapper {
  height: 100%;
  flex-grow: 1;
  background: yellow;

  .sine-wrapper {
    position: absolute;
    width: 6px;
    height: calc(100% - 4px);
    animation: sine-animation 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;

    .sine-inner-wrapper {
      position: absolute;
      width: 100%;
      height: calc(100% - 10px);
    }
  }

  .sine-top, .sine-bottom {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 2px;
    border-radius: 100px;
  }

  .sine-top {
    background-color: blue;
  }

  .sine-bottom {
    transform: translate3d(0, 270px, 0);
    background-color: red;
  }

  @for $i from 1 through 20 {
    .sine-wrapper:nth-of-type(#{$i}) {
      left: 25px * $i;
      animation-delay: 0.7s * $i;
    }
  }

  @keyframes sine-animation {
    from {
      transform: translate3d(0, 0%, 0);
    }
    to {
      transform: translate3d(0, -90%, 0);
    }
  }
}